<h1 class="ks-label">Kitchen Sink</h1>
<hr/>

<div class="ks-cmt">
  <label>kubernetes</label>
  <kubernetes [data]="kubernetesData"></kubernetes>
</div>

<div class="ks-cmt">
  <label>kubernetes-node</label>
  <kubernetes-node [data]="kubernetesNodeData"></kubernetes-node>
</div>

<div class="ks-cmt">
  <label>bar-chart</label>
  <bar-chart [data]="barChartData"></bar-chart>
</div>

<div class="ks-cmt">
  <label>vote-throughput</label>
  <vote-throughput [data]="voteThroughputData"></vote-throughput>
</div>

<div class="ks-cmt">
  <label>vote-counter</label>
  <vote-counter [data]="voteCounterData"></vote-counter>
</div>

<div class="ks-cmt">
  <label>welcome</label>
  <welcome></welcome>
</div>
