<h1 class="ks-label">Kitchen Sink</h1>
<hr/>

<div class="ks-cmt">
  <label>Hot Deployment</label>
  <hot-deployment></hot-deployment>
</div>

<div class="ks-cmt">
  <label>kubernetes empty cluster</label>
  <kubernetes [data]="kubernetesEmptyData"></kubernetes>
</div>

<div class="ks-cmt">
  <label>kubernetes cluster</label>
  <kubernetes [data]="kubernetesData"></kubernetes>
</div>

<div class="ks-cmt">
  <label>kubernetes-node</label>
  <kubernetes-node [data]="kubernetesNodeData"></kubernetes-node>
</div>

<div class="ks-cmt">
  <label>bar-chart</label>
  <bar-chart [data]="barChartData"></bar-chart>
</div>

<div class="ks-cmt">
  <label>vote-throughput</label>
  <vote-throughput [data]="voteThroughputData"></vote-throughput>
</div>

<div class="ks-cmt">
  <label>vote-counter</label>
  <vote-counter [data]="voteCounterData"></vote-counter>
</div>

<div class="ks-cmt">
  <label>video-display</label>
  <video-display></video-display>
</div>

<div class="ks-cmt">
  <label>welcome</label>
  <welcome></welcome>
</div>
