<div id="header">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1086px" height="173px"
     version="1.1"
     style="background-color: rgb(255, 255, 255);">
  <defs>
    <linearGradient x1="0%" y1="0%" x2="0%" y2="100%" id="mx-gradient-e1d5e7-1-8c6c9c-1-s-0">
      <stop offset="0%" style="stop-color:#E1D5E7"/>
      <stop offset="100%" style="stop-color:#8C6C9C"/>
    </linearGradient>
    <linearGradient x1="0%" y1="0%" x2="0%" y2="100%" id="mx-gradient-ffcd28-1-ffa500-1-s-0">
      <stop offset="0%" style="stop-color:#FFCD28"/>
      <stop offset="100%" style="stop-color:#FFA500"/>
    </linearGradient>
  </defs>
  <!--<g transform="translate(0.5,0.5)">-->
    <path
      d="M 3 42.5 L 102.17 42.5 Q 103.83 42.5 105.3 43.24 L 183.83 82.5 L 261.55 82.5 L 339.5 4.55 Q 341.55 2.5 344.45 2.5 L 741.55 2.5 Q 744.45 2.5 746.5 4.55 L 824.45 82.5 L 902.17 82.5 L 980.7 43.24 Q 982.17 42.5 983.83 42.5 L 1083 42.5 M 1083 49.5 L 983.83 49.5 L 905.3 88.76 Q 903.83 89.5 902.17 89.5 L 824.45 89.5 Q 821.55 89.5 819.5 87.45 L 741.55 9.5 L 344.45 9.5 L 266.5 87.45 Q 264.45 89.5 261.55 89.5 L 183.83 89.5 Q 182.17 89.5 180.7 88.76 L 102.17 49.5 L 3 49.5 M 1083 49.5"
      fill="none" stroke="#000000" stroke-width="4" stroke-linejoin="round" stroke-miterlimit="10"
      pointer-events="none"/>
    <path
      d="M 3 122.5 L 102.17 122.5 L 180.7 83.24 Q 182.17 82.5 183.83 82.5 L 261.55 82.5 Q 264.45 82.5 266.5 84.55 L 344.45 162.5 L 741.55 162.5 L 819.5 84.55 Q 821.55 82.5 824.45 82.5 L 902.17 82.5 Q 903.83 82.5 905.3 83.24 L 983.83 122.5 L 1083 122.5 M 1083 129.5 L 983.83 129.5 Q 982.17 129.5 980.7 128.76 L 902.17 89.5 L 824.45 89.5 L 746.5 167.45 Q 744.45 169.5 741.55 169.5 L 344.45 169.5 Q 341.55 169.5 339.5 167.45 L 261.55 89.5 L 183.83 89.5 L 105.3 128.76 Q 103.83 129.5 102.17 129.5 L 3 129.5 M 1083 129.5"
      fill="none" stroke="#000000" stroke-width="4" stroke-linejoin="round" stroke-miterlimit="10"
      pointer-events="none"/>
    <path [attr.display]="switchLeft" d="M 223 86 L 253 86 Q 263 86 270.07 78.93 L 283 66" fill="none" stroke="#b85450" stroke-width="12"
          stroke-miterlimit="10" pointer-events="none"/>
    <path [attr.display]="switchRight" d="M 223 86 L 253 86 Q 263 86 270.07 93.07 L 283 106" fill="none" stroke="#b85450" stroke-width="12"
          stroke-miterlimit="10" pointer-events="none"/>
    <rect [id]="'pos_2_step_2'"  x="117" y="97" width="50" height="20" fill="url(#mx-gradient-e1d5e7-1-8c6c9c-1-s-0)" stroke="#9673a6"
          transform="rotate(333,142,107)" pointer-events="none"/>
    <rect [id]="'pos_1_step_1'"  x="23" y="35" width="60" height="20" fill="url(#mx-gradient-ffcd28-1-ffa500-1-s-0)" stroke="#d79b00"
          pointer-events="none"/>
    <rect [id]="'pos_2_step_1'"  x="33" y="116" width="50" height="20" fill="url(#mx-gradient-e1d5e7-1-8c6c9c-1-s-0)" stroke="#9673a6"
          pointer-events="none"/>
    <rect [id]="'pos_1_step_2'"  x="109" y="54" width="60" height="20" fill="url(#mx-gradient-ffcd28-1-ffa500-1-s-0)" stroke="#d79b00"
          transform="rotate(26,139,64)" pointer-events="none"/>
    <rect [id]="'pos_1_step_3'"  x="191" y="76" width="60" height="20" fill="url(#mx-gradient-ffcd28-1-ffa500-1-s-0)" stroke="#d79b00"
          pointer-events="none"/>
    <rect [id]="'pos_2_step_3'"  x="196" y="76" width="50" height="20" fill="url(#mx-gradient-e1d5e7-1-8c6c9c-1-s-0)" stroke="#9673a6"
          pointer-events="none"/>
  <!--</g>-->
</svg>


<br/>
    <p>Exemple :  {"content" :"{\"train\":\"01\" , \"step\": \"pos_1_step_2\"}"} </p>
    <textarea [(ngModel)]="data" minlength="250" rows="2" cols="60" ></textarea>
    <br/>
    <button (click)="emulate()">Emulate</button>
<br/>

<button (click)="switch()">Switch</button>

</div>
